#app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#menu{
    width: 100%;
}

#logo_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_container{
    display: flex;
    justify-content: center;
    width: 100%;
}

#search{
    max-width: 450px;
    width: 70%;
    height: 30px;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 5px 0 0 5px;
    padding: 0 10px;
    transition: 0.6s all ease;
}


#search_icon{
    cursor: pointer;
    border-left: 1px solid red;
    width: 31.6px;
    height: 30px;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 0 5px 5px 0;
    transition: 0.6s all ease;
}

#search:focus{
    font-size: 15px;
    outline: 0;
    border: 1px solid rgb(178, 178, 178);
    height: 35px;
}

#search_container:has(#search:focus) #search_icon {
    height: 35px;
}

#result_container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#result_number{
    width: 70%;
    max-width: 500px;
    display: flex;
    justify-content: left;
    color: rgb(170, 170, 170);
    font-family: var(--font-family);
    font-size: 14px;
}

.result{
    width: 70%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(178, 178, 178);
    border-radius: 5px;
}

.header_text{
    margin: 5px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(178, 178, 178);
}

.title{
    font-size: 20px;
    font-weight: 600;
    color: rgb(65, 65, 65);
    font-family: var(--font-family);
    padding-left: 10px;
}

.number{
    font-size: 14px;
    font-family: var(--font-family);
    padding-right: 10px;
    color: rgb(170, 170, 170);
}

.product{
    margin: 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font-family);
    padding: 10px 0 10px 0;
}

.product_number{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(211, 40, 40);
    text-decoration: underline;
}

.product_name{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    word-wrap: unset;
}